#main section {
  max-width: 700px;
  overflow-x: hidden;
}

#main section article h4 {
  background-color: #222;
  padding: 8px;
  color: #eee;
}
#main section article h4 .type-signature,
#main section article h4 .signature-attributes {
  color: #aaa;
}
#main section article h4 a {
  color: #00aaff;
}

code {
  font-size: 0.875em;
}

.readme .prettyprint code, .prettyprint code {
  font-size: inherit;
  background-color: transparent;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

thead tr {
  border-bottom: 2px solid #ababab;
}

tbody tr {
  border-top: 1px solid #dcdcdc;
}

td, th {
  border-left: 1px solid #dcdcdc;
  padding: 8px 12px;
}

td:first-child, th:first-child {
  border-left: 0;
  border-right: 2px solid #ababab;
}
