#main :not(p):not(li)>a{color:inherit !important;}
#main h1,#main h2,#main h3,#main h4,#main h5,#main h6{margin-left:0;position:relative;left:-1rem}
#main h1:before,#main h2:before,#main h3:before,#main h4:before,#main h5:before,#main h6:before{content:'#';opacity:0;position:relative;left:-.75rem;vertical-align:middle}
#main h1:hover:before,#main h2:hover:before,#main h3:hover:before,#main h4:hover:before,#main h5:hover:before,#main h6:hover:before{opacity:1}
#main h1:before{font-size:.5em;}
#main h2:before{font-size:.75em;}
#main h3:before{font-size:.75em;}
#main h4:before{font-size:.875em;}
#main h5:before{font-size:.875em;}
#main h5:before{font-size:1em;}